#edit-overlay {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #000000b9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-overlay > div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vmin;
    flex-direction: row;
    position: relative;
}

#edit-overlay > div > svg {
    margin-bottom: 5vmin;
    color: white;
    position: relative;
    height: 7vmin;
    width: 7vmin;
    cursor: pointer;
}

#edit-overlay > svg {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 10vmin;
    width: 10vmin;
}

#edit-overlay input[type="text"] {
    user-select: none;
    width: 50vmin;
    height: 10vmin;
    font-size: 8vmin;
    margin-bottom: 5vmin;
    border: none;
    background-color: #1a1a1a;
    outline: none;
    border-radius: 1rem;
    padding: 2vmin;
}

#edit-overlay input[type="color"] {
    position: relative;
    border: none;
    outline: none;
    width: 12vmin;
    height: 12vmin;
    border-radius: 50%;
    margin-bottom: 5vmin;
    background-image: url('../../assets/alternating_diamonds.svg');
}

#edit-overlay input[type="color"]::after {
    content: "";
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    background-image: inherit;
    will-change: background-position;
    animation-name: bg-scroll;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: linear;
}

#edit-overlay input[type="color"]:hover {
    cursor: pointer;
}

#edit-overlay button {
    width: 15vmin;
    height: 8vmin;
    font-size: 3vmin;
    margin: 0;
    padding: 0;
}

@keyframes bg-scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 166px 83px;
    }
}