#connection-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 4vmin;
    padding: 4vmin;
    box-sizing: border-box;
}

.player-card h1 {
    user-select: none;
}

.player-card {
    translate: 0.25 all;
    background-color: #808080;
    flex: 1 1 0;
    width: 100%;
    border-radius: 2rem;
    position: relative;
}

.player-card > div {
    position: absolute;
    display: block;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
    content: "";
    background-color: #808080;
    filter: brightness(0.5);
    z-index: -1;
    border-radius: 0 0 2rem 2rem;
}

.player-card[data-current-player=true]:hover {
    cursor: pointer;
    background-color: rgb(97, 97, 97);
}

.player-card > svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
}